[submodule "svis_ros"]
	path = svis_ros
	url = https://github.com/jakeware/svis_ros.git
[submodule "svis_teensy"]
	path = svis_teensy
	url = https://github.com/jakeware/svis_teensy.git
[submodule "svis_cad"]
	path = svis_cad
	url = https://github.com/jakeware/svis_cad.git
[submodule "svis_pcb"]
	path = svis_pcb
	url = https://github.com/jakeware/svis_pcb.git
