<!-- Launch file for running svis_ros. -->

<launch>
  <arg name="namespace" default="svis_ros" />
  <arg name="manager" default="manager" />
  <arg name="standalone" default="true" />
  <arg name="param_file" default="svis_ros.yaml" />
  <arg name="load_params" default="true" />

  <group ns="$(arg namespace)" >
    <!-- Manager -->
    <node if="$(arg standalone)"
          pkg="nodelet" type="nodelet" name="$(arg manager)"
          args="manager" output="log" >
      <!-- Params -->
      <rosparam command="load" file="$(find svis_ros)/cfg/$(arg param_file)"/>
    </node>

    <!-- Nodelet -->
    <node pkg="nodelet" type="nodelet" name="svis_ros"
          args="load svis_ros/SVISRosNodelet $(arg manager)">
    </node>
  </group>
</launch>
